.add-student-main {
  width: 1138px;
  height: 528px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 4px 16px rgba(117, 114, 150, 0.15);
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.add-student-form-header {
  width: 1090px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 600;
  margin: 24px 24px 30px 24px;
}

.close-icon {
  font-size: 18px;
  color: var(--darker-grey-color);
  cursor: pointer;
}

.add-student-fields {
  height: 464px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 24px;
}

.add-student-form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 530px;
  height: 100%;
}

.add-student-half-width {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-student-half-width > * {
  width: 250px;
}

.inputs-2 .rounded-button {
  margin-left: 0;
}

.inputs-2 .input-tags {
  height: 168px;
}

.add-student-buttons {
  height: 64px;
  width: 100%;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
}

.rounded-button {
  margin-left: 12px;
}

.rounded-button {
  height: 40px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0 20px;
  background-color: var(--secondary-font-color);
  color: var(--secondary-bg-color);
  border: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.upload-icon {
  vertical-align: middle;
  font-size: 18px;
  padding-right: 12px;
}

.rounded-button[disabled] {
  background-color: var(--border-color);
}

.save-button {
  background-color: var(--primary-color);
}