.upload-file-container {
  height: 68px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upload-file-button-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;  
}

.upload-file-button-bar .rounded-button {
  padding: 11px 14px 11px 11px;
  margin-right: 10px;
}

.upload-file-container {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-font-color);
}

.upload-specification {
  font-size: 12px;
  font-weight: 600;
  color: var(--secondary-font-color);
}

.files-supported,
.max-size {
  font-size: 12px;
  font-weight: 700;
  color: var(--primary-font-color);
}