.company-name {
  width: 297px;
  height: 28px;
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-font-color);
}

.company-name span:last-child {
  margin-left: 8px;
  font-weight: 800;
  color: var(--primary-color);
}

@media (max-width: 650px) {
  .company-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
}