.students-main-section {
  height: 840px;
  width: 1346px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 40px;
}

.students-main-section::-webkit-scrollbar {
  display: none;
}
