.add-student-form {
  height: 464px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 24px;
}

.add-student-form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 530px;
  height: 100%;
  border: 1px solid red;
}

.add-student-half-width {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-student-half-width > * {
  width: 250px;
}

.inputs-1 {

}